
.list {
    list-style-type: none;
    display: flex;
    gap: 40px;
}
.link {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

  .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    justify-content: space-between;
  
  }

  .container-second {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    display: flex; 
  }


  
/*===== HEADER SECTION ======*/
.web-link {
    font-size: 18px;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    color: #2e2f42 
}

.hero {
    padding-top: 188px;
    padding-bottom: 188px ;
    background: #2E2F42;
}

.logotype {
    font-size: 18px;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
    display: inline-block;
    
}
.menu {
    list-style-type: none;
    display: flex;
    gap: 40px;
}
span {
    color:  #2e2f42
}
.menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word; 
    padding: 24px 0; 
}
.menu-contacts {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    font-style: normal;
}

.menu-contacts:hover,
.menu-contacts:focus {
    color: #404BBF
}
.menu-link:hover,
.menu-link:focus {
    color: #404BBF
}

.page-header-address {
    font-style: normal;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    padding-top: 24px;
    padding-bottom: 24px;
}

/*===== / HEADER SECTION/ ======*/

body {
    font-family:'Roboto', sans-serif; 
    background-color: #FFFFFF;
    color: #434455;
}


/*===== HERO SECTION======*/
.main-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    word-wrap: break-word;  
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.order-service-btn {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    word-wrap: break-word ;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}


button:hover,
button:focus {
    background-color: #404BBF
}
button {
    
}

.page-navigation {
    display: flex;
    align-items: center;
 
}
    
/*===== /HERO SECTION/ ======*/


.section-title {
    color: #2E2F42;
    font-size: 36px;
     font-weight: 700;
     text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    word-wrap: break-word;  
    margin-bottom: 72px; 
    text-align: center;
}


/*===== SECTION DESCRIPTION =====*/

.description-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    margin-bottom: 8px;
}

.description-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}
.description {
    padding: 120px 0;
}

.description-list {
    display: flex;
    gap: 24px;   
}

.description-list-item {
    width: calc((100% - 72px) / 4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*===== /SECTION DESCRIPTION/ =====*/

/*===== SECTION OURTEAM =====*/
 
.ourteam-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word;  
    text-align: center;
    margin-bottom: 8px;
}

.ourteam-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;   
    text-align: center;
}

.our-team {
    background: #F4F4FD;
    padding: 120px 0;
}

.ourteam-list {
    display: flex;
    gap: 24px;
}

.ourteam-list-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.workers {
    padding: 32px 0;
    border-top: none;
    background: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/*===== /SECTION OURTEAM/=====*/


/*===== SECTION OUR PORTFOLIO =====*/



.portfolio-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    margin-bottom: 8px;
}

.portfolio-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;  
}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    border-top: none;
    background: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*===== /SECTION OUR PORTFOLIO/ =====*/

/*===== PAGE FOOTER =====*/

.page-footer {  
    background-color: #2E2F42;
    padding: 100px 0;
}

.studio-link {
    color: #F4F4FD;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    
}

.page-footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    word-wrap: break-word;
    max-width: 264px;
   
}

.web-link-footer {
    color: #f4f4fd ;
}

.logotype-second {
    font-size: 18px;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}
/*===== /PAGE FOOTER/ =====*/